<html>

  <head>
    <title>습관 목록</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
  </head>

  <body>
    <div class="container">
      <nav style="background-color: #f4f4f9; padding: 10px; text-align: right;">
        <a href="/logout" style="margin: 2 10px; font-size: 2.0rem;">Logout</a>
      </nav>
      <br>
      <h1>습관 목록</h1>

      <figure>
        <table>
          <thead>
            <tr>
              <th>순번</th>
              <th>습관명</th>
              <th>시작일-종료일</th>
              <th>기록 갯수</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <% habits.forEach((item) => { %>
            <tr>
              <td><%= item.id %></td>
              <td><a href="/habit/<%= item.id %>/record/"><%= item.habit_name %></a></td>
              <td><%= item.start_date %> ~ <%= item.end_date %></td>
              <td><%= item.count %></td>
              <td><a href="/habit/remove/<%= item.id %>">삭제</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <a class="button centered-text" href="/habit/add">습관 추가하기</a>
      </figure>
    </div>
  </body>

</html>