<html>

  <head>
    <title>습관 목록</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/habit">습관목록</a>
        <a href="/register">회원가입</a>
        <a href="/logout">Logout</a>
      </nav>
      <h1>습관 목록</h1>

      <figure>
        <table>
          <thead>
            <tr>
              <th>순번</th>
              <th>습관명</th>
              <th>시작일-종료일</th>
              <th>기록 갯수</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <% habits.forEach((item) => { %>
            <tr>
              <td><%= item.id %></td>
              <td><a href="#"><%= item.habit_name%></a></td>
              <td> <%= item.start_date %> ~ <%= item.end_date %></td>
              <td> <%= item.count %></td>
              <td><a href="#">삭제</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <a class="button centered-text" href="/habit/add">습관 추가하기</a>
      </figure>
    </div>
  </body>

</html>